[dir="rtl"] {
    .owl-carousel {
        direction: ltr;
        .owl-item {
            direction: rtl;
        }
    }
    .mr-3 {
        margin-right: 0;
        margin-left: 15px;
    }
    .mr-2 {
        margin-right: 0;
        margin-left: 10px;
    }
    .navbar-nav {
        padding-right: 0;
    }
    .me-3 {
        margin-left: 1rem !important;
        margin-right: unset !important;
    }
    .ms-auto {
        margin-right: auto!important;
        margin-left: unset !important;
    }
    .me-2 {
        margin-left: .5rem!important;
        margin-right: unset !important;
    }
    /* App Landing RTL */
    .navbar-brand {
        margin-right: 0;
    }
    .app-banner-area {
        .app-bennr-text {
            .app-text {
                padding-right: 130px;
                h3 {
                    right: 0;
                    left: auto;
                    padding-left: 10px;
                    border-left: 1px solid #c1bfcb;
                    padding-right: 0;
                    border-right: 0;
                }
            }
            .app-shapes {
                .shape-1 {
                    left: auto;
                    right: -380px;
                }
                .shape-2 {
                    right: auto;
                    left: 0;
                }
                .shape-30 {
                    left: auto;
                    right: 0;
                }
                .shape-31 {
                    left: auto;
                    right: 10px;
                }
                .shape-28 {
                    right: auto;
                    left: 0;
                }
                .shape-16 {
                    left: auto;
                    right: -110px;
                }
                .shape-14 {
                    left: 0;
                    right: auto;
                }
                .shape-11 {
                    left: auto;
                    right: -50px;
                }
            }
        }
        .bg-shape {
            right: auto;
            left: 0;
            img {
                transform: rotateY(180deg);
            }
        }
    }
    
    .easy-step-area {
        .easy-step-img {
            .shape-1 {
                left: auto;
                right: -80px;
            }
            .shape-21 {
                left: 60px;
                right: auto;
            }
        }
    }
    
    .powerful-area {
        border-radius: 0px 0px 0 700px;
        .section-title {
            text-align: right;
        }
        .powerful-card {
            padding-right: 80px;
            i {
                right: 0;
                left: auto;
            }
        }
    }
    
    .perfect-area {
        .section-title {
            text-align: right;
            p {
                margin-right: 0;
            }
        }
        .perfect-img {
            .perfect-shape {
                right: -200px;
                left: auto;
            }
        }
    }
    
    .app-features-area {
        .section-title {
            text-align: right;
            margin-right: 0;
            p {
                margin-right: 0;
            }
        }
        .app-features {
            left: 0;
            right: auto;
        }
    }
    
    .clients-slider-two-area {
        .clients-slider-two {
            .slider-two-item {
                img {
                    left: 35px;
                    right: auto;
                }
                .clients-icon {
                    left: 60px;
                    right: auto;
                }
            }
        }
        .client-shape {
            left: 30px;
            right: auto;
        }
    }
    
    .subscribe-area {
        .subscribe-contant {
            .subscribe-form {
                .btn {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
    
    .footer-area {
        .footer-widget {
            .footer-text {
                padding-right: 0;
                li {
                    padding: 0 20px 0 0;
                    a {
                        i {
                            right: 0;
                            left: auto;
                        }
                    }
                }
            }
            .footer-social {
                padding-right: 0;
                li {
                    margin: 0 0 0 10px;
                }
            }
        }
    }
    
    .go-top {
        left: 15px;
        right: auto;
    }
    
    /* Personal Portfolio RTL */
    .main-navbar{
        &.personal-nav {
            .navbar-nav {
                .nav-link {
                    margin: 0 40px 0 0;
                }
            }
        }
    }
    
    .personal-banner-area {
        .personal-banner-img {
            .personal-shape {
                .shape-24 {
                    right: -60px;
                    left: auto;
                }
                .shape-2 {
                    right: -80px;
                    left: auto;
                }
                .shape-13 {
                    right: auto;
                    left: -55px;
                }
            }
        }
        .personal-bennr-text {
            .personal-text-shape {
                .shape-14 {
                    left: -90px;
                    right: auto;
                }
                .shape-4 {
                    left: 0;
                    right: auto;
                }
                .shape-22 {
                    left: -100px;
                    right: auto;
                }
                .shape-23 {
                    right: 20px;
                    left: auto;
                }
                .shape-2 {
                    left: 0;
                    right: auto;
                }
            }
        }
    }
    
    .who-we-area {
        .section-title {
            text-align: right;
        }
    }
    
    .my-intro {
        ul {
            li {
                padding-right: 35px;
                padding-left: 0;
                margin-right: 0;
                margin-left: 25px;
                i {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
    
    .fun-facts-area {
        .single-fun-facts {
            padding-right: 100px;
            padding-left: 0;
            i {
                right: 0;
                left: auto;
            }
        }
    }
    
    .choose-area {
        .chooses-img-contant {
            .section-title {
                text-align: right;
            }
            &::before {
                right: -90px;
                left: auto;
            }
            .choose-us-img {
                .choose-img {
                    right: -80px;
                    left: auto;
                }
            }
        }
    }
    
    /* SaaS Landing RTL */
    .saas-banner-area {
        .saas-banner-img {
            .saas-img-2 {
                left: 140px;
                right: auto;
            }
        }
        .saas-shape-content {
            .saas-shape-7 {
                left: 10px;
                right: auto;
            }
            .saas-shape-5 {
                left: 150px;
                right: auto;
            }
            .saas-shape-6 {
                left: 95px;
                right: auto;
            }
            .saas-shape-3 {
                right: 10px;
                left: auto;
            }
        }
    }
    
    .saas-service-card {
        .icon {
            i {
                right: -15px;
            }
        } 
        &:hover {
            .icon {
                i {
                    text-align: center;
                    right: 12px;
                }
            }
        }
    }
    
    .saas-features {
        padding: 25px 110px 25px 25px;
        .icon {
            right: 30px;
            left: auto;
        }
    }
    
    .saas-feature-two {
        padding-right: 80px;
        i {
            right: 0;
            left: auto;
        }
    }
    
    .saas-downloand-area {
        .section-title {
            text-align: right;
        }
        .download-text {
            .app-image {
                .play-stroe {
                    margin-left: 10px;
                }
                .apple {
                    padding-top: 0;
                }
            }
        }
        .download-image {
            .mobile-2 {
                right: -65px;
                left: auto;
            }
        }
    }
    
    .prising-card {
        ul {
            margin: 35px 50px 0 0;
            li {
                padding-right: 30px;
                i {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
    
    .clients-area {
        .clients-slider {
            .clients-slider-item {
                .client-text {
                    .text {
                        .text-icon-1 {
                            right: -30px;
                            left: auto;
                        }
                        .text-icon-2 {
                            left: -30px;
                            right: auto;
                        }
                    }
                }
            }
            &.owl-theme .owl-nav {
                right: 30px;
                left: auto;
            }
        }
        .claint-shape {
            left: 0;
            right: auto;
        }
    }
    
    /* SEO Marketing RTL */
    .seo-banner-area {
        .seo-img-contant {
            .seo-img {
                .seo-img-2 {
                    left: -60px;
                    right: auto;
                }
                .seo-img-3 {
                    right: -65px;
                    left: auto;
                }
            }
        }
        .seo-shape2 {
            .shape-14 {
                right: 20px;
                left: auto;
            }
        }
        .seo-shape1 {
            .shape-13 {
                left: -35px;
                right: auto;
            }
            .shape-15 {
                right: -55px;
                left: auto;
            }
        }
    }
    
    .about-us-area {
        .about-us-text {
            .section-title {
                text-align: right;
            }
            .about-card {
                padding-right: 70px;
                margin-left: 15px;
                margin-right: 0;
                padding-left: 0;
    
                h3 {
                    right: 0;
                    left: auto;
                    margin-left: 8px;
                    margin-right: 0;
                    padding-left: 8px;
                    padding-right: 0;
                    border-left: 1px solid #c5c0cb;
                    border-right: 0;
                    &.l-45 {
                        right: -35px;
                        left: auto;
                    }
                }
            }
        }
    }
    
    .who-we-area {
        .who-we-are-img {
            .we-are-img {
                .we-are-1 {
                    left: 20px;
                    right: auto;
                }
                .we-are-2 {
                    right: 15px;
                    left: auto;
                }
            }
        }
    }
    
    .choose-us-area {
        .chooses-img-contant {
            .choose-us-img {
                .choose-img {
                    right: -80px;
                    left: auto;
                }
            }
        }
    }
    
    /* Startup Agency RTL */
    .main-navbar{
        &.startup-nav {
            .navbar-nav {
                .nav-link {
                    margin: 0 40px 0 0;
                }
            }
        }
    }
    
    .about-us-two {
        .about-two-text {
            .section-title {
                text-align: right;
            }
            ul {
                li {
                    padding-right: 25px;
                    i {
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
        .about-two-img {
            .about-shape {
                .shape-17 {
                    left: -30px;
                    right: auto;
                }
                .shape-19 {
                    left: 40px;
                    right: auto;
                }
                .shape-20 {
                    right: 60px;
                    left: auto;
                }
                
            }
        }
    }
    
    .aweseome-area {
        .awesome-text {
            .choose-card {
                span {
                    left: 0;
                    right: auto;
                }
            }
        }
        .aweseome-img {
            .aweseome-img-card {
                left: 0;
                right: auto;
            }
        }
    }
    
    .pricing-tab {
        .tabs li {
            .save-card {
                left: -25px;
                right: auto;
            }
        }
    }
    
    /* Responsive CSS */
    @media only screen and (max-width : 767px) {
        .main-navbar {
            .navbar-nav {
                padding-right: 0;
                padding-bottom: 10px;
                .nav-link {
                    margin: 0;
                }
            }
            &.startup-nav {
                .navbar-nav {
                    .nav-link {
                        margin: 0;
                    }
                }
            }
            &.personal-nav {
                .navbar-nav {
                    .nav-link {
                        margin: 0 40px 0 0;
                    }
                }
            }
        }
        .powerful-area {
            .powerful-img {
                margin: auto;
            }
            .powerful-card {
                padding-right: 75px;
                padding-left: 0;
            }
        }
        .app-features-area {
            .app-features-img {
                .mr-3 {
                    margin-bottom: 0;
                    margin-right: 0 !important;
                }
            }
        }
        .perfect-area {
            text-align: center;
            .section-title {
                text-align: center;
            }
        }
        .who-we-area {
            .section-title {
                text-align: center;
            }
        }
        .my-intro{
            text-align: center;
            ul {
                li {
                    margin-left: 10px;
                }
            }
        }
        .choose-us-area {
            .chooses-img-contant {
                .choose-us-img {
                    .choose-img {
                        right: -10px;
                    }
                }
            }
        }
        .choose-card {
            text-align: center;
        }
        .personal-banner-area {
            text-align: center;
        }
        .saas-service-card {
            .icon {
                i {
                    right: -25px;
                }
            }
            &:hover {
                .icon {
                    i {
                        right: 0;
                    }
                }
            }
        }
        .saas-features {
            padding: 20px 90px 20px 15px;
            &:hover {
                .icon {
                    i {
                        top: 0;
                    }
                }
            }
        }
        .saas-downloand-area {
            .download-image {
                .mobile-2 {
                    right: 0;
                    left: 0;
                }
            }
        }
        .seo-banner-area {
            text-align: center;
            .seo-img-contant {
                .seo-img {
                    .seo-img-2 {
                        left: -10px;
                    }
                    .seo-img-3 {
                        right: -10px;
                    }
                }
            }
        }
        .about-us-area {
            .about-us-text {
                .about-card {
                    padding-right: 0;
                    margin-left: 0;
                    h3 {
                        border: none;
                    }
                }
            }
        }
        .about-us-two {
            .about-two-img {
                .about-shape {
                    .shape-17 {
                        left: 0;
                    }
                }
            }
        }
        .saas-feature-two {
            padding-left: 0;
        }
        .prising-card {
            ul {
                margin: 25px 0px 0 0;
            }
        }
    }
    
    @media only screen and (max-width : 575px) {
        .prising-card {
            padding: 15px 0;
            ul {
                margin: 35px 25px 0 0;;
            }
        }
        .saas-downloand-area {
            .download-image {
                .mobile-2 {
                    right: 0;
                    left: 0;
                }
            }
        }
        .about-us-area {
            .about-us-text {
                .about-card {
                    padding-right: 0;
                    margin-left: 0;
                    h3 {
                        border: none;
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width : 768px) and (max-width : 991px) {
        .main-navbar {
            .navbar-nav {
                padding-right: 0;
                padding-bottom: 10px;
                .nav-link {
                    margin: 0;
                }
            }
            &.startup-nav {
                .navbar-nav {
                    .nav-link {
                        margin: 0;
                    }
                }
            }
            &.personal-nav {
                .navbar-nav {
                    .nav-link {
                        margin: 0 30px 0 0;
                    }
                }
            }
        }
        .startup-banner-area {
            overflow: hidden;
        }
        .banner-video-contant {
            .video-btn {
                a {
                    position: absolute;
                    right: auto;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: auto;
                }
            }
        }
        .choose-us-area {
            .chooses-img-contant {
                .choose-us-img {
                    .choose-img {
                        right: -20px;
                    }
                }
            }
        }
        .choose-card {
            margin-bottom: 30px;
        }
        .saas-downloand-area {
            .download-image {
                .mobile-2 {
                    right: 0;
                    left: 0;
                }
            }
        }
        .startup-banner-area {
            .banner-video-contant {
                .popup-video {
                    right: auto;
                    left: 160px;
                }
            }
        }
        .about-us-area {
            .about-us-text {
                .about-card {
                    margin-left: 30px;
                }
            }
        }
    }
    
    @media only screen and (min-width : 992px) and (max-width : 1199px) {
        .choose-us-area {
            .chooses-img-contant {
                .choose-us-img {
                    .choose-img {
                        right: -40px;
                    }
                }
            }
        }
        .prising-card {
            ul {
                margin: 35px 30px 0 0;
            }
        }
    }
}